 <!--=========== carrousel ===========-->
 <section class="w-100">
  <div id="carouselExampleControls" class="carousel slide" data-interval="10000000" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" style="background-image: url('assets/img/bg.webp');">
        <div class="w-100 h-100 carousel-inner_in pt-5 pb-5">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h1 class="mb-0">Compre com o menor preço <br>nos melhores fornecedores.</h1>
                <br>
                <p>Tecnologia que conecta os principais fornecedores de alimentos no atacado <br>com compradores que buscam a melhor qualidade com o menor preço.</p>
                <br>
                <button class="btn text-white mb-4 mb-md-0 text-uppercase btn_green btn_buscar_produto">Buscar produto</button>
                <button class="btn text-white ml-0 ml-md-3 text-uppercase btn_outline_white btn_criar_cotacao">Criar cotação</button>
              </div>
            </div>
            <div class="row mt-5 pt-0 pt-lg-5">
              <div class="col-12 d-flex justify-content-end">
                <div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <img src="assets/img/arrow_left.svg">
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <img src="assets/img/arrow_right.svg">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('assets/img/bg.webp');">
        <div class="w-100 h-100 carousel-inner_in pt-5 pb-5">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h1 class="mb-0">Compre com o menor preço <br>nos melhores fornecedores.</h1>
                <br>
                <p>Tecnologia que conecta os principais fornecedores de alimentos no atacado <br>com compradores que buscam a melhor qualidade com o menor preço.</p>
                <br>
                <button class="btn mb-4 mb-md-0 text-uppercase btn_green btn_buscar_produto">Buscar produto</button>
                <button class="btn ml-0 ml-md-3 text-uppercase btn_outline_white btn_criar_cotacao">Criar cotação</button>
              </div>
            </div>
            <div class="row mt-5 pt-0 pt-lg-5">
              <div class="col-12 d-flex justify-content-end">
                <div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <img src="assets/img/arrow_left.svg">
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <img src="assets/img/arrow_right.svg">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=========== fim carrousel ===========-->

<section class="w-100">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3 mb-2">
        <div class="w-100 d-block d-md-flex">
          <div class="mr-3 mb-2 mb-md-0"><img style="width: 31px;" src="assets/img/percent.webp"></div>
          <div>
            <h6 class="_color_green text-uppercase" style="font-size: 12px;">Menor preço do mercado</h6>
            <p>Sistema inteligente de comparação de preços com atualização automática.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-2">
        <div class="w-100 d-block d-md-flex">
          <div class="mr-3 mb-2 mb-md-0"><img style="width: 31px;" src="assets/img/computador.webp"></div>
          <div>
            <h6 class="_color_green text-uppercase" style="font-size: 12px;">Maior variedade</h6>
            <p>Milhares de itens disponíveis para você escolher.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-2">
        <div class="w-100 d-block d-md-flex">
          <div class="mr-3 mb-2 mb-md-0"><img style="width: 31px;" src="assets/img/store.webp"></div>
          <div>
            <h6 class="_color_green text-uppercase" style="font-size: 12px;">PEDIDO ONLINE</h6>
            <p>Tecnologia que conecta os principais fornecedores de alimentos no atacado com compradores.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-2">
        <div class="w-100 d-block d-md-flex">
          <div class="mr-3 mb-2 mb-md-0"><img style="width: 31px;" src="assets/img/maquina.webp"></div>
          <div>
            <h6 class="_color_green text-uppercase" style="font-size: 12px;">Cotação automática de preços</h6>
            <p>Os preços sofrem variações de acordo com a taxa de câmbio, safra, estoque, mal tempo, mas a Prima organiza-os em tempo real.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--=========== section tabela ===========-->
<section class="pt-5 pb-5 section_table">
  <div class="container">
    <div class="row mb-3">
      <div class="col-12 d-block d-md-flex justify-content-between">
        <div class="input-group mb-3 mb-md-0" style="height: 50px; max-width: 676px;">
          <div class="input-group-prepend">
            <span class="input-group-text bg-white">
              <img style="height: 22px;" src="assets/img/pesquisa.svg">
            </span>
          </div>
          <input type="text" style="height: auto;" placeholder="procure por nome, marca..." class="form-control border-left-0">
        </div>
        <button id="btn_open_filtro" class="btn mb-4 ml-md-3 mb-md-0 w-100 d-flex align-items-center justify-content-center text-uppercase btn_green" style="max-width: 320px;">
          <img style="width: 32px;" src="assets/img/filtro.webp">
          <div class="ml-3 text-white">Filtro Avançado</div>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table">
          <thead>
            <tr class="bg-white">
              <th class="border-0">Produto</th>
              <th class="border-0 d-none d-lg-inline-block">Categoria</th>
              <th class="border-0 d-none d-lg-inline-block">Preço</th>
              <th class="border-0 d-none d-lg-inline-block">Peso</th>
              <th class="border-0 d-none d-lg-inline-block">Adicionar ao carrinho</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of listProduct; index as i">
              <td>
                <strong [innerText]="product.name "></strong>
                <div class="d-lg-none">
                  <div class="d-flex justify-content-between mt-2">
                    <div [innerText]="product.category"></div>
                    <div [innerText]="product.price  | currency:'BRL'"></div>
                  </div>
                  <div [innerText]="product.weigth"></div>
                  <br>
                  <div class="d-flex w-100 justify-content-center">
                    <button class="btn btn_remove" (click)="product.amount = product.amount - 1" ><img style="width: 12px;" src="assets/img/minus.svg"></button>
                    <h5 class="mx-2" [innerText]="product.amount"></h5>
                    <button class="btn btn_remove"  (click)="product.amount = product.amount + 1" ><img style="width: 12px;" src="assets/img/add.svg"></button>
                  </div>
                </div>
              </td>
              <td class="d-none d-lg-inline-block"[innerText]="product.category"></td>
              <td class="d-none d-lg-inline-block" [innerText]="product.price  | currency:'BRL' "></td>
              <td class="d-none d-lg-inline-block">1kg</td>
              <td class="d-none d-lg-inline-block" *ngIf="product.amount > 0 ">
                <div class="d-flex pl-2">
                  <button class="btn btn_remove" (click)="product.amount = product.amount - 1" ><img style="width: 12px;" src="assets/img/minus.svg"></button>
                  <h5 class="mx-2" [innerText]="product.amount"></h5>
                  <button class="btn btn_remove" (click)="product.amount = product.amount + 1"><img style="width: 12px;" src="assets/img/add.svg"></button>
                </div>
              </td>
              <td class="d-none d-lg-inline-block" *ngIf="product.amount == 0 ">
                <div class="d-flex">
                  <button class="btn d-flex align-items-center" (click)="product.amount = product.amount + 1">
                    <img style="width: 26px;" src="assets/img/carrinho.svg">
                    <h6 class="_color_green ml-3 mb-0">Adicionar ao carrinho</h6>
                  </button>
                </div>
              </td>
            </tr>

          </tbody>
        </table>

        <h6 style="font-size: 14px;">* Compra minima por forncedor - R$400.00</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-4">
        <button class="btn d-block m-auto btn_outline_green" (click)="showProductsAll()" >VER LISTA COMPLETA</button>
      </div>
    </div>
  </div>
</section>
<!--=========== fim section tabela ===========-->

<!--=========== categorias ===========-->
<section class="w-100 pt-5 section_categorias" style="overflow: hidden;">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="_color_green text-center">Categorias</h1>

        <div class="pb-5">
          <div class="d-flex cont_categorias">
            <div class="categoria">
              <div class="shadow mr-4">
                <img src="assets/img/categorias/img1.jpeg">
                <h6 class="_color_green">Snacks</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
              </div>
            </div>
            <div class="categoria">
              <div class="shadow mr-4">
                <img src="assets/img/categorias/img2.jpeg">
                <h6 class="_color_green">Castanhas, Sementes & Frutas Secas</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
              </div>
            </div>
            <div class="categoria">
              <div class="shadow mr-4">
                <img src="assets/img/categorias/img3.jpeg">
                <h6 class="_color_green">Temperos & Especiarias</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
              </div>
            </div>
            <div class="categoria">
              <div class="shadow mr-4">
                <img src="assets/img/categorias/img4.jpeg">
                <h6 class="_color_green">Farinhas, Moídos & Pó</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
              </div>
            </div>
            <div class="categoria">
              <div class="shadow mr-4">
                <img src="assets/img/categorias/img5.jpeg">
                <h6 class="_color_green">Chás & Ervas</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mb-4">
    <div class="row">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <button class="btn p-0 rounded-circle mr-2 btn_prev">
          <img style="width: 40px;" src="assets/img/arrow_circle_left.png">
        </button>
        <button class="btn p-0 rounded-circle ml-2 btn_next">
          <img style="width: 40px;" src="assets/img/arrow_circle_right.png">
        </button>
      </div>
    </div>
  </div>
</section>
<!--=========== fim categorias ===========-->

<!--=========== empresas ===========-->
<section class="w-100 d-flex align-items-stretch section_empresas" style="background-color: #F8F9FA;">
  <div class="w-25 d-none d-md-block">
    <img class="w-100 h-100" style="object-fit: cover;" src="assets/img/img_to_empresas.jpeg">
  </div>
  <div class="w-100 w-md-75 pt-4 px-5 d-flex align-items-center">
    <div class="pl-3 pl-xl-5">
      <h1 class="mb-5">Aprovado por grandes empresas</h1>
      <div class="w-100 d-flex flex-wrap">
        <div class="w-50 w-lg-25 mb-5 cont_img_empresa"><img class="w-100 img_empresa" style="max-width: 230px;" src="assets/img/empresas/empresa1.png"></div>
        <div class="w-50 w-lg-25 mb-5 cont_img_empresa"><img class="w-100 img_empresa" style="max-width: 230px;" src="assets/img/empresas/empresa2.png"></div>
        <div class="w-50 w-lg-25 mb-5 cont_img_empresa"><img class="w-100 img_empresa" style="max-width: 230px;" src="assets/img/empresas/empresa3.png"></div>
        <div class="w-50 w-lg-25 mb-5 cont_img_empresa"><img class="w-100 img_empresa" style="max-width: 230px;" src="assets/img/empresas/empresa4.png"></div>
        <div class="w-50 w-lg-25 mb-5 cont_img_empresa"><img class="w-100 img_empresa" style="max-width: 230px;" src="assets/img/empresas/empresa1.png"></div>
        <div class="w-50 w-lg-25 mb-5 cont_img_empresa"><img class="w-100 img_empresa" style="max-width: 230px;" src="assets/img/empresas/empresa2.png"></div>
        <div class="w-50 w-lg-25 mb-5 cont_img_empresa"><img class="w-100 img_empresa" style="max-width: 230px;" src="assets/img/empresas/empresa3.png"></div>
        <div class="w-50 w-lg-25 mb-5 cont_img_empresa"><img class="w-100 img_empresa" style="max-width: 230px;" src="assets/img/empresas/empresa4.png"></div>
      </div>
    </div>
  </div>
</section>
<!--=========== fim empresas ===========-->

<!--=========== destaques ===========-->
<section class="section_destaques">
  <div class="container">
    <div class="row">
      <div class="col-12 py-5">
        <h1 class="mb-5 text-center _color_green">Destaque de Mídia</h1>
        <div class="w-100 d-flex flex-wrap justify-content-center">
          <div class="mb-5 mx-4"><img style="height: 38px;" src="assets/img/destaques/destaque1.png"></div>
          <div class="mb-5 mx-4"><img style="height: 38px;" src="assets/img/destaques/destaque2.png"></div>
          <div class="mb-5 mx-4"><img style="height: 38px;" src="assets/img/destaques/destaque3.png"></div>
          <div class="mb-5 mx-4"><img style="height: 38px;" src="assets/img/destaques/destaque4.png"></div>
          <div class="mb-5 mx-4"><img style="height: 38px;" src="assets/img/destaques/destaque5.png"></div>
          <div class="mb-5 mx-4"><img style="height: 38px;" src="assets/img/destaques/destaque6.png"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=========== fim destaques ===========-->

<!--=========== avaliacoes ===========-->
<section class="section_avaliacoes" style="overflow: hidden;">
  <div class="container">
    <div class="row">
      <div class="col-12 d-block d-md-flex">
        <div class="mb-5 pb-5 mb-md-0 pb-md-0 mt-3">
          <div class="pt-3 pl-3 mr-4" style="position: relative; background-image: url('assets/img/circles.png'); background-size: 72px 72px; background-repeat: no-repeat;">
            <h1 class="bg-white pt-2 px-3 _color_green">Avaliações <br><span style="white-space: nowrap;">de clientes</span></h1>
            <div class="px-3" style="font-size: 16px; color: #757575;">
              <span style="white-space: nowrap;">Nós valorizamos o bom</span> <br>
              <span style="white-space: nowrap;">atendimento e a satisfação</span>
            </div>
          </div>
        </div>

        <div class="d-flex cont_avaliacoes">
          <div class="avaliacao">
            <div class="avaliacao_in mr-4 mt-5">
              <div class="cont_img">
                <img class="img_cliente" src="assets/img/clientes/cliente1.png">
                <img class="d-block ml-auto mr-auto mt-4 img_aspas" src="assets/img/aspas.png">
              </div>
              <h6>Nome do Cliente 1</h6>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
            </div>
          </div>
          <div class="avaliacao">
            <div class="avaliacao_in mr-4 mt-5">
              <div class="cont_img">
                <img class="img_cliente" src="assets/img/clientes/cliente2.png">
                <img class="d-block ml-auto mr-auto mt-4 img_aspas" src="assets/img/aspas.png">
              </div>
              <h6>Nome do Cliente 2</h6>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
            </div>
          </div>
          <div class="avaliacao">
            <div class="avaliacao_in mr-4 mt-5">
              <div class="cont_img">
                <img class="img_cliente" src="assets/img/clientes/cliente3.png">
                <img class="d-block ml-auto mr-auto mt-4 img_aspas" src="assets/img/aspas.png">
              </div>
              <h6>Nome do Cliente 3</h6>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
            </div>
          </div>
          <div class="avaliacao">
            <div class="avaliacao_in mr-4 mt-5">
              <div class="cont_img">
                <img class="img_cliente" src="assets/img/clientes/cliente4.png">
                <img class="d-block ml-auto mr-auto mt-4 img_aspas" src="assets/img/aspas.png">
              </div>
              <h6>Nome do Cliente 4</h6>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-4 mb-5">
        <div class="col-12 d-flex align-items-center justify-content-end">
          <button class="btn p-0 rounded-circle mr-2 btn_prev">
            <img style="width: 40px;" src="assets/img/arrow_circle_left.png">
          </button>
          <button class="btn p-0 rounded-circle ml-2 btn_next">
            <img style="width: 40px;" src="assets/img/arrow_circle_right.png">
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=========== fim avaliacoes ===========-->

<!--=========== modal filtros ===========-->
<div class="modal" id="modal_filtro" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content pl-4 pr-4 border-0" style="border-radius: 15px">
      <div class="modal-header border-0">
        <h5 class="modal-title"><strong>Filtros</strong></h5>
        <button
          type="button"
          style="opacity: 1"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <img
            style="width: 20px; color: #000"
            src="assets/img/close_modal.svg"
          />
        </button>
      </div>
      <div class="modal-body border-0">
        <div class="form-group">
          <label>Embalagem</label>
          <select class="form-control">
            <option>Selecionar</option>
          </select>
        </div>
        <div class="form-group">
          <label>Categoria</label>
          <select class="form-control">
            <option>Selecionar</option>
          </select>
        </div>
        <div class="form-group">
          <label>Tipo</label>
          <select class="form-control">
            <option>Selecionar</option>
          </select>
        </div>
        <div class="form-group">
          <label>Preço</label>
          <div class="slider-container pl-2">
            <input type="text" id="slider3" class="slider" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--=========== fim modal filtros ===========-->


<script src="assets/js/jquery-3.4.1.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/rSlider.js"></script>
<script src="assets/js/script.js"></script>

